* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
	overflow-x: auto;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: inherit;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

*:focus {
	outline: none;
}

body {
	background-color: #fff;
	color: #000;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 1.8;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

img {
	height: auto;
	width: 100%;
}

a {
	display: inline-block;
}

.inner {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 0px;
}

input[type="text"],
input[type="textarea"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 0.8em;
	width: 100%;
}

input[type="text"]:focus,
input[type="textarea"]:focus {
	-webkit-box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.32);
	box-shadow: none;
	outline: none;
}

input[type="textarea"] {
	height: 100px;
	resize: vertical;
}

input[type="submit"] {
	-webkit-appearance: none;
	background-color: rgba(0, 0, 0, 0.32);
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	margin: 0 0 1em;
	padding: 0.6em 2em;
	text-decoration: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	outline: none;
}

input[type="submit"]::-moz-foucus-inner {
	border: none;
	padding: 0;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: transparent url(../) no-repeat center right 8px/16px 16px;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 0.8em;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	-webkit-box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.32);
	box-shadow: none;
	outline: none;
}

.sec {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (min-width: 768px) {

._sp {
	display: none;
}

.nav-item + .nav-item {
	margin-left: 15px;
}

.nav {
	margin-left: auto;
}

.nav-list {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

}

@media screen and (max-width: 767px) {

._pc {
	display: none;
}

.nav-item + .nav-item {
	margin-top: 15px;
}

.nav-icon {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	height: 18px;
	padding: 25px 20px 10px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	z-index: 31;
}

.nav-icon > div {
	position: relative;
}

.nav-icon > div > span {
	-webkit-transition: .3s ease-in-out;
	background: #000;
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	transition: .3s ease-in-out;
	width: 100%;
}

.nav-icon > div > span:nth-of-type(1) {
	top: 0;
}

.nav-icon > div > span:nth-of-type(2) {
	top: 7px;
}

.nav-icon > div > span:nth-of-type(3) {
	top: 14px;
}

.nav-close {
	-webkit-transition: all .3s ease 0s;
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all .3s ease 0s;
	width: 100%;
	z-index: 29;
}

.nav-list {
	-webkit-transform: translateX(105%);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-transition: -webkit-transform .5s ease 0s;
	background-color: #FFF;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 90%;
	overflow: auto;
	padding: 100px 20px 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(105%);
	transition: -webkit-transform .5s ease 0s;
	transition: transform .5s ease 0s;
	transition: transform .5s ease 0s, -webkit-transform .5s ease 0s;
	width: 200px;
	z-index: 30;
}

.nav._open .nav-icon > div > span:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	top: 7px;
	transform: rotate(45deg);
}

.nav._open .nav-icon > div > span:nth-of-type(2) {
	left: 50%;
	width: 0;
}

.nav._open .nav-icon > div > span:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	top: 7px;
	transform: rotate(-45deg);
}

.nav._open .nav-close {
	display: block;
	opacity: 0.4;
}

.nav._open .nav-list {
	-webkit-transform: translateX(0);
	-webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

}

